In [1]:
import sys
import numpy as np
import pandas as pd
sys.path.append('../')
import preprocessing
import helpers


DATA_PATH = '../Datasets/twitter-datasets/'

In [2]:
# Import the tweets from the datasets
init_tweets = helpers.load_tweets(bert=True)

tweets = preprocessing.remove_tags(init_tweets)

In [3]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(tweets, test_size=0.2)

In [4]:
train.dtypes

tweet       object
polarity     int64
dtype: object

In [5]:
train.shape

(157576, 2)

In [6]:
test.shape

(39394, 2)

In [7]:
train_df_bert = pd.DataFrame({
    'id':range(len(train)),
    'label':train['polarity'],
    'alpha':['a']*train.shape[0],
    'text': train['tweet'].replace(r'\n', ' ', regex=True)
})

train_df_bert.head()

        id  label alpha                                               text
99196    0      0     a  17x36 custom picture frame / poster frame 1.5 ...
19840    1      1     a  your day will arrive before you know it ! till...
140119   2      0     a  ted : eduardo paes : the 4 commandments of cit...
113177   3      0     a  inside 3d studio max 3 modeling , materials , ...
28585    4      1     a  damn  would get it so bad #imjustsayin tho dre...

In [8]:
dev_df_bert = pd.DataFrame({
    'id':range(len(test)),
    'label':test['polarity'],
    'alpha':['a']*test.shape[0],
    'text': test['tweet'].replace(r'\n', ' ', regex=True)
})

dev_df_bert.head()

       id  label alpha                                               text
31738   0      1     a  no , no , no ! i'm pretty sure you are wrong s...
23500   1      1     a      really ? aha , i'll take that as a compliment
71464   2      1     a        shows you're a good mom !  awww thank u ! !
94261   3      1     a                                   prom this year ?
94097   4      1     a  you lowlife fucks . im sure my buddy , buddy ....

In [9]:
train_df_bert.to_csv(DATA_PATH + 'train.tsv', sep='\t', index=False, header=False)

In [10]:
dev_df_bert.to_csv(DATA_PATH + 'dev.tsv', sep='\t', index=False, header=False)