In [18]:
import sys
import numpy as np
import pandas as pd
sys.path.append('../')
import preprocessing
import helpers

In [19]:
# Import the tweets from the datasets
init_tweets = helpers.load_tweets(bert=True)

tweets = preprocessing.remove_tags(init_tweets)

In [20]:
tweets.head()

                                               tweet  polarity
0  i dunno justin read my mention or not . only j...         1
1  because your logic is so dumb , i won't even c...         1
2  just put casper in a box !  looved the battle ...         1
3  thanks sir > > don't trip lil mama ... just ke...         1
4  visiting my brother tmr is the bestest birthda...         1

In [21]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(tweets, test_size=0.2)

In [22]:
train.dtypes

tweet       object
polarity     int64
dtype: object

In [23]:
train.shape

(157576, 2)

In [24]:
test.shape

(39394, 2)

In [25]:
train_df_bert = pd.DataFrame({
    'id':range(len(train)),
    'label':train['polarity'],
    'alpha':['a']*train.shape[0],
    'text': train['tweet'].replace(r'\n', ' ', regex=True)
})

train_df_bert.head()

        id  label alpha                                               text
173514   0      0     a  i have to go sleep so ill message u in the mor...
24312    1      1     a                              that's what i thought
139941   2      0     a                           didn't have a good sleep
56634    3      1     a  hey that's me ! with you #ofcourse #alwayswithyou
128828   4      0     a    i'll go next friday . with or without him lol .

In [26]:
dev_df_bert = pd.DataFrame({
    'id':range(len(test)),
    'label':test['polarity'],
    'alpha':['a']*test.shape[0],
    'text': test['tweet'].replace(r'\n', ' ', regex=True)
})

dev_df_bert.head()

        id  label alpha                                               text
132318   0      0     a  good luck ! ! text me when you're out of class...
17704    1      1     a  i'm chilled just have plenty of time to think ...
2134     2      1     a  somebody please name me any artist that can st...
22019    3      1     a  aye all you lil ' twitter bitches follow my bi...
193177   4      0     a  fuck you adam ( made a mistake .. should have ...

In [27]:
train_df_bert.to_csv('../data/twitter-datasets/train.tsv', sep='\t', index=False, header=False)

In [28]:
dev_df_bert.to_csv('../data/twitter-datasets/dev.tsv', sep='\t', index=False, header=False)